.git/
.gitignore
.gitattributes
README.md

venv/
.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

backend/.env
backend/tests/
backend/README.md

frontend/node_modules/
frontend/dist/
frontend/README.md
