.project-card {
    width: 300px;
    height: 150px;
    border-radius: 8px;
    background-color: #f3f4f6;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}